.nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    width: 100%;
}

a {
    padding: 5px 10px;

}

.link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    margin-right: 20px;
    color: rgb(25, 118, 210);
}

.link :active,
:hover,
:focus {
    color: rebeccapurple;
}

s.registerLog {}